<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>GIDClientID</key>
	<string>910229613768-2irrma7j7pcvmu2dl7h4c1qlh1o4fa5o.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.910229613768-2irrma7j7pcvmu2dl7h4c1qlh1o4fa5o</string>
			</array>
		</dict>
	</array>
    <key>NSCameraUsageDescription</key>
    <string>Camera access for video calls</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Microphone access for calls</string>
</dict>
</plist>
